<footer class="footer">
    <div class="row">
        <div class="col-sm-4 col-md-4 footer-navigation">
            <h4>Angular Form Application</h4>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                <p> <a href="mailto:amenirakkeh4@gmail.com">amenirakkeh4@gmail.com</a></p>
            </div>
            <div>
                <p><span class="new-line-span">15 rue elfalleh cite hadded</span>Morneg 2090, BEN AROUS</p>
            </div>
            
            <div>
                <p class="footer-center-info email text-left"> +216 55202813</p>
            </div>
            
        </div>
        <div class="col-md-4 social-links">
            <h4>Social Links</h4>
            <p> <a href="">GitHub</a></p>
            <p> <a href="">LinkdIn</a></p>
                          
        </div>
    </div>
</footer>
